.questionWrapper {
  background-color: #47026c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.questionFlex {
  margin: auto;
  /* background-color: aqua; */
  width: 90vw;
  display: flex;
  gap: 40px;
  align-items: center;
}
.divLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.divRight {
  flex: 2;
}
.divLeft button {
  width: 100px;
}
.aniBlob {
  --time: 10s;
  --amount: 5;
  --fill: #e4afff;
  width: 200px;
}
.blobContainer {
  position: relative;
}

.playPng {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  height: 52px;
  transform: translate(-50%, -50%);
}
.options {
  background-color: #F5CF05;
  margin-bottom: 20px;
  text-align: center;
  color:#47026c;
  padding: 20px 20px;
  width:66%;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;

}
.options p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}