.finishWrapper {
    background-color: #47026c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.congo {
    margin:auto;
    text-align: center;
    color: white;
}
.congo p {
    margin-bottom: 10px;
}
.congo button {
    margin-top: 10px;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #F5CF05;
    border: 0px;
    font-size: 14px;
    color:#47026C
}
.blobContainer {
    position: relative;
}
.aniBlob {
    --time: 20s;
    --amount: 5;
    --fill: #e4afff;
    width: 180px;
    margin: auto;
}
.heading {
    color: #e4afff;
    font-size: 35px;
}
.starPng {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 70px;
    transform: translate(-50%, -50%);
}