.appwrapper {
    display: flex;
    flex-direction: column;
    background-color: #47026C ;
    min-height: 100vh;
}
.inputWrapper {
    margin:auto;
    width: fit-content;
    /* background-color: aqua; */
    text-align: center;
}
.inputWrapper p {
    width: 90vw;
    color: #E4AFFF;
}
.linkarea {
    outline: none;
    border: 0px;
    border-bottom: 1px solid #E4AFFF;
    background-color: #47026C;
    width: 300px;
    padding: 10px;
    text-align: center;
    color: #F5CF05;
    text-align: start;
}
.nextButton {
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #F5CF05;
    border: 0px;
    font-size: 14px;
    color:#47026C
}

@media only screen and (max-width: 768px) { 
    .nextButton {
        margin-top: 20px;
        font-size: 18px;
        padding: 10px 20px;
    }
}