.appwrapper {
    display: flex;
    flex-direction: column;
    background-color: #47026C ;
    min-height: 100vh;
}
.inputWrapper {
    margin:auto;
    width: fit-content;
    /* background-color: aqua; */
    text-align: center;
}
.inputWrapper p {
    color: #E4AFFF;
}
.linkarea {
    outline: none;
    border: 0px;
    border-bottom: 1px solid #E4AFFF;
    background-color: #47026C;
    width: 300px;
    padding: 10px;
    text-align: center;
    color: #F5CF05;
    text-align: start;
}
.nextButton {
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #F5CF05;
    border: 0px;
    font-size: 14px;
    color:#47026C
}
.playerSelection {
    background-color: #F5CF05;
    margin-bottom: 20px;
    text-align: center;
    color:#47026c;
    padding: 20px 40px;
    width:100%;
    border: 0px;    
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    max-width: 400px;
}
.countSelection {
    background-color: #F5CF05;
    margin-bottom: 20px;
    text-align: center;
    color:#47026c;
    padding: 20px 20px;
    min-width: 70px;
    min-height: 70px;
    margin: 10px;
    /* width:100%; */
    border: 0px;    
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    max-width: 400px;
}
@media only screen and (max-width: 768px) { 
    .nextButton {
        margin-top: 20px;
        font-size: 18px;
        padding: 10px 20px;
    }
}