.numberArea {
    outline: none;
    border: 0px;
    border-bottom: 1px solid #E4AFFF;
    background-color: #47026C;
    width: 90px;
    padding: 10px;
    text-align: center;
    color: white;    
    text-align: start;
}
.startButton {
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #F5CF05;
    border: 0px;
    font-size: 14px;
    color:#47026C
}