.footerWrapper {
  background-color: #E4AFFF;
  text-align: center;
  /* height: 50px; */
  width: 100%;
  color:#2d0841;
}
.svg {
  display: block;
  width: 100%;
}
.icons svg {
  height: 30px;
  margin: 0px 10px 10px 10px;
  color:#2d0841;
}
.footerText {
  padding-bottom: 10px;
}
.footerText a {
  color: #2d0841;
  text-decoration: underline;
}